.footerContainer {
  background-color: #3b3a5a; 
  color: white;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.leftContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.linksContainer {
  display: flex;
  gap: 80px;
}

.linkColumn {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.footerLink, .contactInfo {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.footerLink:hover {
  opacity: 1;
  text-decoration: underline;
}

.contactInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rightContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

.logo {
  width: 70px; 
  height: auto;
}

.buttonsContainer {
  display: flex;
  gap: 15px;
}

.button {
  border: none;
  padding: 12px 25px; 
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  width: fit-content;
}

.subscribeBtn {
  background-color: #fff;
  color: #bb4e81;
}

.loginBtn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    padding: 40px 20px;
    gap: 40px;
  }

  .leftContent {
    gap: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .linksContainer {
    flex-direction: row;
    gap: 20px;
  }
  
  .rightContent {
    align-items: center; 
    width: 100%;
    gap: 20px;
  }
}
