.sectionContainer {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding: 0 40px;
  overflow: hidden;

}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.contentWrapper {
  max-width: 600px;
  z-index: 1;
}

.mainTitle {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.1;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 30px;
  opacity: 0.9;
}

.buttonGroup {
  display: flex;
  gap: 15px;
}

.button {
  padding: 12px 28px;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.buttonPrimary {
  background-color: #bb4e81; 
  color: white;
}

.buttonSecondary {
  background-color: #7d446a; 
  color: white;
}

.buttonPrimary:hover, .buttonSecondary:hover {
    opacity: 0.9;
}
@media (max-width: 400px) {
  .buttonSecondary {
    display: none;
  }
}

