.sectionContainer {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #3b3a5a;
  margin-bottom: 25px;
}

.contentContainer {
  display: flex;
  gap: 30px;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  height:100%;
}

.infoBlock {
  flex: 1;
  background-color: #aed9d4;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoList {
  list-style: none;
  padding: 0;
}

.infoItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: white;
  font-size: 32px;
}

.checkIcon {
  margin-right: 10px;
  margin-top: 5px;
}

.checkIcon img {
    height: 100%;
    object-fit: contain;
}

.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.formTitle {
  font-size: 16px;
  font-weight: bold;
  color: #3b3a5a;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-size: 14px;
  padding-bottom: 5px;
  color: #3b3a5a;
}

.input {
  padding:15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.dateGroup {
  display: flex;
  gap: 10px;
}

.customSelectWrapper {
  flex: 1;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

.selectHeader {
    padding: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.arrowWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.arrowIcon {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    opacity: 0.5;
    transition: transform 0.3s ease;
}

.arrowIcon.open {
    transform: rotate(180deg);
}

.optionsList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

.optionItem {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.optionItem:hover {
    background-color: #f0f0f0;
}

.submitButton {
  background-color: #bb4e81;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s;
  text-decoration: none; 
  display: block; 
  text-align: center; 
}

.submitButton:hover {
  background-color: #a34470;
}

@media (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
  }
  .infoItem{
    font-size: 20px;
  }
  .infoBlock {
    order: -1;
  }
}
