* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 54px;
  background-color: #F8F7F4;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navLinks {
  display: flex;
  z-index: 1000;
  gap: 20px;
}

.navLinks a {
  text-decoration: none;
  color: #666;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #999;
}

.authButtons {
  display: flex;
  gap: 10px;
}

.subscribeBtn {
  background-color: #bb4e81;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.loginBtn {
  background-color: #3b3a5a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.menuToggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.menuToggle .bar {
  width: 20px;
  height: 2px;
  background-color: #333;
}

@media (max-width: 930px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px;
    gap: 10px;
  }
  .header{
    padding: 10px 20px;
  }
  .logo {
    p {
      display: none;
    }
  }
  .navLinks.active {
    display: flex;
  }

  .menuToggle {
    display: flex;
  }
}