.sectionContainer {
  padding: 40px 20px;
  background-color: #fff;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #3b3a5a;
  margin-bottom: 20px;
}

.cardContainer {
  background-color: #A13B62;
  border-radius: 24px; 
  padding: 30px 20px;
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 5px;
  opacity: 0.8;
}

.price {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 10px 65px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 568px){
    .buttonsContainer {
        flex-direction: column;
    }
}