.sectionContainer {
  padding: 40px 20px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 5rem;
  margin-top: 3rem;
}

.mainTitle {
  font-size: 80px;
  font-weight: bold;
  color: #3b3a5a;
  margin-bottom: 25px;
}

.filterButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
  background-color: #343354;

  justify-self: center;
  padding: 0.4rem;
  border-radius: 40px;
}

.filterButton {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #666;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.filterButton.active {
  background-color: #3b3a5a;
  color: white;
  border-color: #3b3a5a;
}

.categoriesGrid {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: thin;
}

.categoryCard {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: none; /* Тени убраны по запросу */
  height: 100px;
  cursor: pointer;
  min-width: 150px;
  flex-shrink: 0;
}

.categoryImagePlaceholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.categoryNameOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  width: 100%;
}

.routinesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.routineCard {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: none; 
}

.routineImageContainer {
  position: relative;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}

.routineImagePlaceholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.detailsOverlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #3b3a5a; 
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 10px;
  font-weight: bold;
}

.routineBody {
  padding: 15px 0 0 0; 
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routineText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.categoryLabel {
  font-size: 12px;
  color: #666; 
}

.cardTitle {
  font-size: 14px;
  font-weight: bold;
  color: #3b3a5a;
}

.trainerInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.trainerName {
  font-size: 12px;
  color: #666;
}

.trainerImage {
  width: 24px; /* Размер как на макете */
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}


@media (max-width: 768px) {
  .routinesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 2068px) {
  .routineCard:nth-child(1),
  .routineCard:nth-child(2) {
    grid-column: span 2;
  }
}
