.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.mainTitle {
  font-size: 42px;
  font-weight: bold;
  color: #3b3a5a;
  margin-bottom: 40px;
}

.cardsContainer {
  display: flex;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  border-radius: 10px;
}

.imagePlaceholder {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.trainerImage {
  width: 100%;
  height: auto;
  display: block;
}

.content {
  padding: 20px;
}

.trainerName {
  font-size: 20px;
  font-weight: bold;
  color: #3b3a5a;
  margin-bottom: 10px;
}

.greeting {
  font-size: 14px;
  color: #343354;
  margin-bottom: 15px;
}

.description {
  font-size: 14px;
  color: #343354;
  line-height: 1.5;
  margin-bottom: 15px;
}

.button {
  background-color: #3b3a5a;
  color: white;
  padding: 12px 65px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  width: fit-content;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
  }

  .mainTitle {
      text-align: center;
  }
}
